.appContainer {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-rows: 6rem 1fr;

  overflow: hidden;
}
.appContent {
  overflow-y: auto;
  overflow-x: hidden;
}
.appMain {
  width: 100%;
  min-height: 100%;
  display: grid;
}
