.pageCover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.pageCover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.75);
}
.pageCoverOffset {
  position: relative;
  height: calc(100vh - 6rem);
  max-width: 1600px;
  margin: 0 auto;
}
.pageCoverLabel {
  position: absolute;
  bottom: 8rem;
  left: 2rem;
}
.pageCoverTitle {
  /*     font-size: 2rem;
    font-weight: 400; */
  text-transform: uppercase;
  color: #ddd;
}

.FAQItem {
  padding: 1rem;
  border-radius: 4px;

  display: flex;
  flex-flow: column;
  gap: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  background-color: var(--cardColor);

  .FAQItemHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
  .FAQItemHeaderChevron {
    transition: transform 0.2s ease-in-out;
    transform: translate(0, 6px);
  }
  .FAQItemBody {
    height: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }

  .FAQItemQuestion {
    margin-bottom: 0;
    margin-top: 8px;
  }

  &.open {
    .FAQItemHeaderChevron {
      transform: translate(0, 6px) rotate(180deg);
    }

    .FAQItemBody {
      height: auto;
      max-height: 100px;
    }
  }
}
