.footer {
  background-color: var(--footerColor);
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  padding: 2rem;
}
.footer p {
  font-size: 14px;
  margin: 4px 0;
}
.footerLogo {
  width: 10rem;
  height: 10rem;
}
.footerRow {
  display: flex;
  justify-content: space-around;
}
.footerRow.copyright {
  justify-content: center;
  color: gray;
}
.footerLine {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  align-items: center;
}
