.footer {
  background-color: var(--footerColor);
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  padding: 2rem;
}
.footer p {
  font-size: 14px;
  margin: 4px 0;
}
.footerLogo {
  width: 10rem;
  height: 10rem;
}
.footerRow {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.footerRow.copyright {
  justify-content: center;
  color: gray;
}
.footerLine {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  align-items: center;
}
.footerSocialsList{
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

/* _____________TABLET______________ */
@media screen and (max-width: 768px) {
  .footerRow {
    flex-flow: row wrap;
    gap: 1rem;
  }
}

/* _____________MOBILE______________ */
@media screen and (max-width: 480px) {
  .footerRow {
    flex-flow: column nowrap;
    gap: 1rem;
  }
}
