.articleWrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.articleContent {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;

  display: flex;
  flex-flow: column;
  gap: 3rem;
}

.section {
  width: 100%;
}
.section.size-f {
  max-width: 100%;
}
.section.size-l {
  max-width: 1000px;
}
.section.size-m {
  max-width: 800px;
}
.section.size-s {
  max-width: 600px;
}
.section.center {
  margin: 0 auto;
}

.section h1,
.section h2,
.section h3 {
  margin-bottom: 2rem;
}

h1,
h2,
h3 {
  font-family: "Jost" -apple-system, Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: uppercase;
}
h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
h2 {
  font-size: 1.8rem;
  font-weight: 300;
}
h3 {
  font-size: 1.2rem;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: var(--accentColor);
  line-height: 32px;
}
p {
  font-weight: 400;
  font-family: "Montserrat" -apple-system, Roboto, sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 28px;
}

a {
  color: var(--textColor);
  transition: color 0.2s ease-in-out;
}

a:visited {
  color: var(--textColor);
}
a:focus,
a:hover {
  color: var(--accentColor);
}
.imageLine {
  display: flex;
  flex-flow: row;

  gap: 1rem;
}
.imageWrapper {
  width: 100%;
  height: 24rem;
}
.imageWrapper.tall {
  height: 42rem;
}
.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* _____________TABLET______________ */
@media screen and (max-width: 768px) {
  .imageLine {
    flex-flow: row wrap;
  }
}

/* _____________MOBILE______________ */
@media screen and (max-width: 480px) {
  .imageLine {
    flex-flow: column;
  }
}
